@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Gloock&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

$pink: #F3CFC6;
$light-green: #90C26E;
$dark-green: #448F58;
$blue: #6A559B; 
$orange: #FF9443; 