@import 'config';

@mixin button {
    background-color: $light-green;
    border: none;
    padding: 0.5em 1em;
    border-radius: 1em;
    cursor: pointer;
    
}

button:disabled {
    color: #16161d;
}

button:active {
    color: $dark-green;
}


@mixin footer {
    border-top: #16161d74 1px solid;
    position: fixed;
    bottom: 0%;
    left: 40%;
    padding: 1em 0;
    color: #16161d;
    font-weight: 300;
    
}